script:
- npm run test
- npm run dist
language: node_js
node_js: "10"
env:
- NODE_ENV=TEST
git:
  depth: 3
#cache: yarn
deploy:
  local-dir: dist
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  on:
    branch: master